@font-face {
  font-family: 'sava-pro-semibold'; 
  /* / Replace with the desired font name */
  src: url('./Assets/Fonts/SavaPro-Semibold.otf') format('truetype');
  
  /* // Replace with the correct file path */
  /* Add additional font formats (woff, woff2, etc.) with corresponding src properties */
}

body{
  display: block;
  margin: 0px;
  /* background: rgb(26,56,74);  */
  background-color: rgb(13, 15, 54);
    font-family: "Mukta", sans-serif;
}